/* Real CSS */

html, body {
  margin: 0;
  min-height: 100% !important;
  height: 100%;
  background-color: #423f3b;
}

.container {
  margin: 0px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  align-content: stretch;
  min-height: 100% !important;
  height: 100%;
  vertical-align: middle;
}


#display {
  font-family: Montserrat, sans;
  font-size: 5rem;
  height: 100%;
  width: 100%;
  color: #423f3b;
  background-color: #ffe5a9;
}

.buttons {
  display: grid;
  width: 100%;
  min-height: 100% !important;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.double-column {
  grid-column: 1 / span 2;
}

.full {
  grid-column: 1 / 6;
}

button {
  font-family: Montserrat, sans;
  font-size: 2rem;
  height: 100%;
}

@media (max-width: 500px) {
  button {
    font-size: 1.5rem;
  }
}

.red {
  background-color: #ff6666;
  color: #ffe5a9;
  border: 0;
  border-top: 1px solid hsla(0, 0%, 0%, 0.2);
  border-right: 1px solid hsla(0, 0%, 0%, 0.2);
}

.grey {
  background-color:	#cbbeb5;
  color: #423f3b;
  border: 0;
  border-top: 1px solid hsla(0, 0%, 0%, 0.2);
  border-right: 1px solid hsla(0, 0%, 0%, 0.2);
}

.black {
  background-color: #423f3b;
  color: #ffe5a9;
  border: 0;
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
}